.div2 {
  width: 450px;
  height: 80px;
  display: flex;
  margin-left: 20px;
  animation: slide 1s linear infinite;
}
.div1 {
  width: 150px;
  height: 80px;
  overflow: hidden;
}

@keyframes slide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -150px;
  }
}
