<div class="div--align-center" [ngSwitch]="state">
  <span class="div--align-center" [ngStyle]="stateStyle">
    &nbsp;{{state}}
  </span>

  <ng-template [ngSwitchCase]="'booked'">
    <div class="timeslot">
      <object class="image--marginRight-small" width="80" height="20" data="assets/Dashboard Icons/Booked.svg" type="image/svg+xml"></object>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="'available'">
    <div class="timeslot">
      <object class="image--marginRight-small" width="80" height="20" data="assets/Dashboard Icons/Available.svg" type="image/svg+xml"></object>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="'not ready'">
    <div class="timeslot">
      <object class="image--marginRight-small" width="80" height="20" data="assets/Dashboard Icons/Not Ready.svg" type="image/svg+xml"></object>
    </div>
  </ng-template>
  <ng-template ngSwitchDefault>
    <div class="timeslot">
      <object class="image--marginRight-small" width="80" height="20" data="" type="image/svg+xml"></object>
    </div>
  </ng-template>

  <span class="div--align-center timeslot--range">
    {{range}}
  </span>

</div>