.timeslot {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 1px lightgray;
  border-left: solid 1px lightgray;
  border-right: solid 1px lightgray;
  width: 94px;
  text-align: center;
  height: 12px;
}
.timeslot--range {
  color: lightgray;
  font-size: 10px;
}
