.navbar--profile-pic {
  border-radius: 40px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.navbar--link-manage {
  color: var(--gray, #dfe3ed);
  font-size: 14px;
}
.navbar--username {
  font-weight: bold;
  font-size: 17px;
  color: black;
}
