<div class="flex-container flex-container--justify-start">
  <div class="flex-container flex-container--direction-row">
    <!-- <object width="30" class="image--marginRight-small" height="30" data="assets/Calender Ico.svg" type="image/svg+xml"></object> -->

    <img *ngIf="!noImage" [src]="src" class="navbar--profile-pic" alt="">
    <div class="flex-container flex-container--direction-col flex-container--align-start flex-container--justify-center">
      <span class="navbar--username">
        {{boldText}}
      </span>
      <span class="navbar--link-manage">
        {{lighterText}}
      </span>
    </div>
  </div>
</div>