.navbar {
  margin-bottom: 130px;
  margin-top: 20px;
}
.imgcontainer--float-left {
  float: left;
}
.home {
  overflow: hidden;
}

.imgcontainer {
  margin-top: -100px;
}
.img--artwork {
  /* position: relative; */
  /* bottom: 130px; */
  /* right: 100px; */
}
.contain--move-down {
  margin-top: 140px;
}
.contain--move-down-sm {
  margin-top: 70px;
}

.contain--padding-none {
  padding: 0 !important;
}
.contain--marginleft-negative {
  margin-left: -110px;
}
.heading--marginBottom-reduce {
  margin-bottom: 10px;
}
.paragraph {
  word-spacing: 1px;
  font-size: 1em;
  width: 100%;
}
.paragraph--spacing-bottom {
  margin-bottom: 30px;
}

.paragraph--spacing-bottom-lg {
  margin-bottom: 60px;
}
.button--bgcolor-white {
  background-color: white;
}
.button--textColor-black {
  color: black;
}
.emptyspace--space-lg {
  margin-bottom: 320px;
}

.emptyspace--space-small {
  margin-bottom: 100px;
}

.emptyspace--space-medium {
  margin-bottom: 200px;
}

.img--line {
  position: absolute;
  left: -485px;
  top: 555px;
  width: 160%;
  z-index: -1;
}

.img--line2 {
  position: absolute;
  left: 12px;
  top: 480px;
  width: 122%;
  z-index: 1;
}

.img--line3 {
  position: absolute;
  left: 280px;
  top: 520px;
  width: 230%;
  z-index: 22;
}

.img--line4 {
  position: absolute;
  left: 146px;
  top: 380px;
  width: 230%;
  z-index: -1;
}
.flex-container--responsive-row {
  flex-direction: row;
}
.flex-container--responsive-col {
  flex-direction: col;
}
.contain--hide-desktop {
  display: none;
}
.move-down-70 {
  margin-top: 70px;
}

.heading--spacing-none {
  margin: 0;
}

.contain-zIndex-top * {
  z-index: 21;
}

.contain-zIndex-top {
  z-index: 21;
}

.contain-zIndex-top-2 * {
  z-index: 22;
}

.img--phone-1 {
  position: relative;
  bottom: 550px;
  left: 190px;
}
.img--phone-1 {
  z-index: 23 !important;
}
.img--phone-2 {
  position: relative;
  z-index: 23 !important;
}

.contain--move-down-lg {
  margin-top: 220px;
}

.heading--align-left {
  text-align: left;
}
.span--align-left {
  text-align: left;
}
.span--spacing-sm {
  margin: 5px;
}
.heading--padding-sm {
  padding: 5px;
}
.text--color-gray {
  color: #aaaaaa;
}
.text--size-small {
  font-size: 14px;
}
.heading--weight-md {
  font-weight: 500;
  letter-spacing: 1px;
}
.img--align-center {
  align-self: center;
  margin-bottom: 5%;
}
.white-button--size-tiny {
  width: 30px;
  height: 30px;
}
.white-button--marginRight-small {
  margin-right: 20px;
}
.text--rotate-vertical {
  transform: rotate(-90deg);
}
.emptyspace--space-smaller {
  margin-bottom: 30px;
}
.move-down-170 {
  margin-top: 170px;
}
.move-down-100 {
  margin-top: 100px;
}
