<div class="row home">
  <div class="col-md-16">

    <!-- Navbar -->
    <div class="row navbar">

      <div class="col-md-1 contain--hide-mobile">
      </div>

      <div class="col-md-1 col-sm-16">
        <div class="logo">
          <p>
            CRESTA
            <!-- <span class="span--color-main">ES</span>TA -->
          </p>

        </div>
        <!-- <img src="assets/logo-temp.png" width="100" height="14" alt="Logo"> -->
      </div>

      <div class="col-md-7 contain--hide-mobile">
      </div>

      <div class="col-md-6 col-sm-16">
        <div class="contain--justify-right contain--justify-centerOnMobile">
          <ul class="hlist">
            <li class="hlist--item hlist--item--move-down">
              <p class="bold">
                SERVICES
              </p>
            </li>
            <li class="hlist--item hlist--item--move-down">
              <p class="bold">
                PRODUCTS
              </p>
            </li>
            <li class="hlist--item hlist--item--move-down">
              <p class="bold">
                CONTACT
              </p>
            </li>
            <li class="hlist--item hlist--item-wide">
              <button class="bold button button--move-down">
                GET APP
              </button>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- Navbar end -->

    <!-- Section 1 -->
    <div class="row">

      <div class="col-md-10 col-xs-16 contain--move-down  contain contain--bgcolor-secondary contain--justify-left">
        <div class="row">
          <div class="col-md-14 col-xs-16 move-down-70">
            <div class="row">
              <div class="col-md-2 col-xs-16 contain--align-center">
                <img src="assets/artwork-mobile.png" class="contain--hide-desktop contain--align-center" alt="">
              </div>
              <div class="col-md-14 contain--move-down-xs">
                <h2 class="heading heading--marginBottom-reduce">COMFORT
                  <span class="span--color-main">
                    BUSINESS ..!!
                  </span>
                </h2>
                <p class="paragraph paragraph--spacing-bottom">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum expedita vitae reprehenderit repellendus libero adipisci
                  repudiandae earum animi placeat aperiam commodi saepe est reiciendis, ea velit error dolore enim omnis!
                </p>

                <div class="contain--justify-centerOnMobile">
                  <button routerLink="/signup" class="white-button">
                    CREATE WORKSPACE
                  </button>
                </div>

                <div class="emptyspace--space-lg">
                  &nbsp;
                </div>

                <img class="img--line2" src="assets/Shape 2.svg" alt="">

                <h2 class="heading heading--marginBottom-reduce">WHY
                  <span class="span--color-main">
                    CRESTA?
                  </span>
                </h2>
                <p class="paragraph paragraph--spacing-bottom-lg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum expedita vitae reprehenderit repellendus libero adipisci
                  repudiandae earum animi placeat aperiam commodi saepe est reiciendis, ea velit error dolore enim omnis!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 contain--hide-mobile contain--padding-none contain--marginleft-negative">
        <img class="img--artwork" src="assets/Artwork.png" width="650" alt="">
        <img class="img--line" src="assets/Shape 1.svg" width="650" alt="">
      </div>
    </div>
    <!-- Section 1 end -->


    <!-- Section 2 -->
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-14">

        <div class="flex-container flex-container--responsive-row flex-container--zIndex-top move-down-170">
          <div class="flex-container flex-container--direction-col">
            <img src="assets/Easy Locate Ico.svg" class="img--margin-small" alt="">
            <h4 class="heading heading--spacing-none heading--size-small">
              EASY LOCATE
            </h4>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dignissimos magnam similique accusantium excepturi
            </p>
          </div>

          <div class="flex-container flex-container--direction-col">
            <img src="assets/Safe Time Ico.svg" class="img--margin-small" alt="">
            <h4 class="heading heading--spacing-none heading--size-small">
              SAVE TIME
            </h4>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dignissimos magnam similique accusantium excepturi
            </p>
          </div>

          <div class="flex-container flex-container--direction-col">
            <img src="assets/More Clients Ico.svg" class="img--margin-small" alt="">
            <h4 class="heading heading--spacing-none heading--size-small">
              MORE CLIENTS
            </h4>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dignissimos magnam similique accusantium excepturi
            </p>
          </div>
        </div>
        <div class="emptyspace--space-small">
          &nbsp;
        </div>

      </div>
    </div>
    <!-- Section 2 end -->

    <!-- Section 3 -->
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-4 contain--padding-none">
        <img class="img--phone-2" src="assets/Galaxy S8.png" height="700" width="350" alt="">
        <img class="img--phone-1" src="assets/iPhone X Mockup.png" width="320" height="540" alt="">
        <img class="img--line3" src="assets/Shape 3.svg" alt="">
        <img class="img--line4" src="assets/Shape 4.svg" alt="">

      </div>

      <div class="col-md-11 contain-zIndex-top contain contain--bgcolor-secondary contain--justify-left">
        <div class="row">
          <div class="col-md-16">
            <div class="row">
              <div class="col-md-5 col-xs-6 contain--move-down-mobile">
                <div class="contain--hide-desktop">
                  <img src="assets/Mobiles.png" width="150" height="200" alt="">
                </div>
              </div>
              <div class="col-md-9 col-xs-10 contain--move-down-lg">
                <h2 class="heading heading--marginBottom-reduce">GET
                  <span class="span--color-main">
                    CRESTA?
                  </span>
                </h2>
                <p class="paragraph paragraph--spacing-bottom">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum expedita vitae reprehenderit.
                </p>
                <div class="contain--justify-centerOnMobile">
                  <img src="assets/playstore.png" alt="" width="190" height="74">
                  <img src="assets/appstore.svg" width="170" height="50" alt="">
                </div>

                <div class="emptyspace--space-medium">
                  &nbsp;
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section 3 end-->


    <!-- Section 4 -->
    <div class="row contain--move-up">
      <div style="">

        <div class="col-md-16">
          <div class="contain contain-align-center">

            <h2 class="heading heading--marginBottom-reduce">CONTACT
              <span class="span--color-main">
                CRESTA ?
              </span>
            </h2>

          </div>

          <div class="flex-container flex-container--responsive-row flex-container--justify-around flex-container--move-down">

            <div class="flex-container flex-container--responsive-row ">
              <img src="assets/Call Us Ico.svg" width="30" height="30" class="img--margin-small img--align-center" alt="">
              <div class="flex-container  flex-container--margin-small flex-container--direction-col flex-container--justify-start">
                <div class="">
                  <h4 class="heading heading--align-centerOnMobile heading--align-left heading--spacing-none heading--padding-sm heading--size-smaller heading--weight-md">
                    CALL
                    <span class="span--color-main">
                      US
                    </span>
                  </h4>

                </div>
                <div class="flex-container flex-container--direction-row flex-container--justify-center-mobile">
                  <div class="flex-container  flex-container--direction-col flex-container--justify-start span--spacing-sm">
                    <span class="span--align-left text--size-small">KUWAIT</span>
                    <span class="text--color-gray text--size-small">+01130006617</span>
                  </div>
                  <div class="flex-container flex-container--direction-col flex-container--justify-start span--spacing-sm">
                    <span class="span--align-left text--size-small">KSA</span>
                    <span class="text--color-gray text--size-small">+01130006617</span>
                  </div>
                </div>
              </div>
            </div>





            <div class="flex-container flex-container--responsive-row ">
              <img src="assets/Mail Ico.svg" width="30" height="30" class="img--margin-small img--align-center" alt="">
              <div class="flex-container  flex-container--margin-small flex-container--direction-col flex-container--justify-start">
                <div class="">
                  <h4 class="heading heading--align-centerOnMobile heading--align-left heading--spacing-none heading--padding-sm heading--size-smaller heading--weight-md">
                    WRITE
                    <span class="span--color-main">
                      US
                    </span>
                  </h4>

                </div>
                <div class="flex-container flex-container--direction-row flex-container--justify-center-mobile">
                  <div class="flex-container flex-container--direction-col flex-container--justify-start span--spacing-sm">
                    <span class="span--align-left text--size-small">SUPPORT</span>
                    <span class="text--color-gray text--size-small">sup@cresta.com</span>
                  </div>
                  <div class="flex-container flex-container--direction-col flex-container--justify-start span--spacing-sm">
                    <span class="span--align-left text--size-small">INFORMATION</span>
                    <span class="text--color-gray text--size-small text--size-small">info@cresta.com</span>
                  </div>
                </div>
              </div>
            </div>



            <div class="flex-container flex-container--responsive-row ">
              <img src="assets/Follow Ico.svg" width="30" height="30" class="img--margin-small img--align-center" alt="">
              <div class="flex-container  flex-container--margin-small flex-container--direction-col flex-container--justify-start">
                <div class="">
                  <h4 class="heading heading--align-centerOnMobile heading--align-left heading--spacing-none heading--padding-sm heading--size-smaller heading--weight-md">
                    FOLLOW
                    <span class="span--color-main">
                      US
                    </span>
                  </h4>

                </div>
                <div class="flex-container flex-container--justify-evenly-mobile flex-container--direction-row flex-container--justify-around ">
                  <button class="white-button white-button--size-tiny white-button--marginRight-small white-button--zIndex-top">
                    <img src="assets/Facebook.svg" width="7" alt="">
                  </button>

                  <button class="white-button white-button--size-tiny white-button--marginRight-small white-button--zIndex-top">
                    <img src="assets/Twitter.svg" width="16" alt="">
                  </button>

                  <button class="white-button white-button--size-tiny white-button--marginRight-small white-button--zIndex-top">
                    <img src="assets/Google +.svg" width="16" alt="">
                  </button>
                  <button class="white-button white-button--size-tiny white-button--marginRight-small white-button--zIndex-top">
                    <img src="assets/Instagram.svg" width="16" alt="">
                  </button>
                </div>
              </div>
            </div>




          </div>
        </div>

        <div class="col-md-16 contain-align-center contain--hide-mobile">
          <div class="emptyspace--space-small">
            &nbsp;
          </div>

          <div class="">

            <p class="text--rotate-vertical">scroll up</p>
            <img src="assets/Arrow Up.svg" alt="">
          </div>


          <div class="emptyspace--space-smaller">
            &nbsp;
          </div>

        </div>



      </div>

    </div>
    <!-- Section 4 end-->
  </div>



</div>