<!-- Navbar -->
<div class="row dashboard-nav">



  <div class="col-md-1 col-sm-16">
    <div class="logo">
      <p>
        CRESTA
      </p>
    </div>
  </div>

  <div class="col-md-3 contain--hide-mobile">
  </div>

  <div class="col-md-6 col-sm-16">
    <div class="row">
      <div class="col-md-16">
        <margin value="20"></margin>
      </div>
    </div>
    <div class="flex-container flex--justify-start searchbar">
      <div class="searchbar--img">
        <object width="13" class="image--marginRight-small image--marginTop-small" height="13" data="assets/Dashboard Icons/Search ico.svg"
          type="image/svg+xml"></object>

        <!-- <img src="assets/Dashboard Icons/Search ico.svg" alt=""> -->
      </div>
      <input type="text" class="searchbar--input" placeholder="searching people, companies, bookings">
    </div>
  </div>


  <div class="col-md-2 contain--hide-mobile">
  </div>

  <div class="col-md-6 col-sm-16">
    <div class="row">
      <div class="col-md-16">
        <margin value="25"></margin>
      </div>
    </div>

    <div class="flex-container flex-container--direction-row flex-container--justify-end">
      <div>
        <object width="20" class="image--marginRight-small image--marginTop-small" height="20" data="assets/Dashboard Icons/Notification ico.svg"
          type="image/svg+xml"></object>
      </div>
      <span class="navbar--seperator">|</span>

      <div class="flex-container flex-container--direction-row">
        <img src="assets/profilepic.jpg" class="navbar--profile-pic" width="30" height="30" alt="">
        <div class="navbar--links flex-container flex-container--direction-col flex-container--align-start">
          <span class="navbar--username">
            John Smith
          </span>
          <span class="navbar--link-manage">
            manage account
          </span>
        </div>
        <img class="navbar--link-dropdown" src="assets/Signup/Arrow Ico Gray.svg" alt="" width="10">
      </div>
    </div>
  </div>

</div>
<!-- Navbar end -->