.dashboard-nav {
  margin-right: 20px;
  margin-left: 20px;
}
.logo {
  color: var(--secondary-btn-color, #339ddf);
}
.searchbar {
  background-color: transparent;
}
.searchbar--input {
  width: 100%;
  border: 0;
  height: 40px;
  border-radius: 0 20px 20px 0;
  box-shadow: 10px 3px 10px 2px rgba(0, 0, 0, 0.07);
}
.searchbar--input::-webkit-input-placeholder {
  color: var(--gray, #dfe3ed);
  font-size: 10px;
}
.searchbar--img {
  background-color: white;
  border-radius: 20px 0 0 20px;
  padding: 9px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.07);
}
.navbar--link-manage {
  color: var(--gray, #dfe3ed);
  font-size: 10px;
}
.navbar--username {
  font-weight: 900;
  font-size: 12px;
  color: black;
}
.navbar--profile-pic {
  border-radius: 40px;
  margin-right: 7px;
}
.navbar--seperator {
  color: var(--gray, #cccccc);
  font-size: 10px;
  padding: 0 10px;
  margin-top: 5px;
}
.navbar--link-dropdown {
  margin-left: 10px;
}
