.signup-input span {
  color: var(--gray, #000000);
}
.input-field {
  height: 50px;
  border: 0;
  border-bottom: 3px solid var(--gray, #dfe3ed);
  /* var(--third-color); */
  color: var(--third-color, #39b0fb);
  font-size: 20px;
  outline: 0;
}
.input-field:focus {
  border-bottom-color: var(--third-color, #39b0fb);
}
.input-field::-webkit-input-placeholder {
  color: var(--gray, #000000);
}
.input-field:focus::-webkit-input-placeholder {
  border-bottom-color: var(--third-color, #39b0fb);
  color: var(--third-color, #39b0fb);
}
.input-field-img {
  padding-right: 10px;
}
.input-field--filename,
.input-field--slider {
  padding-top: 9px;
}
.input-field--button {
  font-size: 1em;
}
.input-field-img--state-focus {
  border-bottom: 3px solid var(--third-color, #39b0fb);
  color: var(--third-color, #39b0fb);
}
.input-field-img--state-blur {
  border-bottom: 3px solid var(--gray, #dfe3ed);
  color: var(--gray, #dfe3ed);
}
.width-full {
  width: 100%;
}
label {
  cursor: pointer;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
