<div class="flex-container flex-container--direction-row width-full signup-input" [ngSwitch]="type">
  <ng-template [ngSwitchCase]="'switch'">
    <img class="input-field-img" [src]="srcImg" [ngClass]="{'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus}"
      alt="">
    <span [ngClass]="{'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus}" class="input-field input-field--filename width-full">{{placeholder}}</span>

    <ui-switch [checked]="false" (change)="onSwitch($event)" class="input-field--slider input-field-img input-field input-field--button"
      color="white" id="id" [(ngModel)]="bool" [ngClass]="{'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus}"
      [switchColor]="bool ? '#39b0fb' : '#cccccc'" size="small"></ui-switch>
  </ng-template>



  <ng-template [ngSwitchCase]="'file'">
    <img class="input-field-img" [src]="srcImg" [ngClass]="{'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus}"
      alt="">
    <input [hidden]="true" [(ngModel)]="file" (change)="printFile()" [id]="id" [type]="type" (blur)="onBlur()" (focus)="onFocus()"
      [placeholder]="placeholder" class="input-field width-full" accept="image/png" [multiple]="multiple">
    <span [ngClass]=" { 'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus} " class="input-field
      input-field--filename width-full ">{{fileName || placeholder}}</span>
    <label [for]="id " class="input-field-img ">
      <img class="input-field-img input-field input-field--button " [ngClass]="{ 'input-field-img--state-focus':focus,
      'input-field-img--state-blur':!focus} " [src]="btnSrcImg " width="42 " alt=" ">
    </label>
  </ng-template>






  <ng-template ngSwitchDefault class="flex-container flex-container--direction-row width-full ">
    <img class="input-field-img " [src]="srcImg " [ngClass]="{ 'input-field-img--state-focus':focus,
      'input-field-img--state-blur':!focus} " alt=" ">
    <input [(ngModel)]="file " (change)="printFile() " [id]="id " [type]="type " (blur)="onBlur() " (focus)="onFocus()
      " [placeholder]="placeholder " class="input-field width-full " [name]="id ">
  </ng-template>
</div>