<div class="row">
  <div class="col-md-16 div--align-center">
    <img src="assets/Signup/congrats.png" width="200" height="200" alt="">

  </div>
  <div class="col-md-16 div--align-center">
    <span class="heading heading--color-blue heading--weight-heavy">CONGRATULATIONS</span>

  </div>
  <div class="col-md-16 flex-container flex-container--justify-center">
    <span class="subheading--color-black">now you can start working on your spaces</span>
  </div>
  <div class="col-md-16">
    <margin value="30"></margin>

  </div>

  <div class="col-md-16 flex-container flex-container--justify-center pad">
    <button routerLink="/signup" class="white-button white-button--border-thin white-button--shadow-thick">
      LET'S START
    </button>

  </div>
</div>