.header--page-signup {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 15px;
  padding-top: 30px;
}
.heading--color-blue {
  color: var(--third-color, #39b0fb);
}
.heading--weight-heavy {
  font-weight: 900;
}
.heading--size-md {
  font-size: 30px;
}
.heading--size-sm {
  font-size: 20px;
}
.subheading--color-black {
  color: black;
  font-weight: 700;
}
.white-button--border-thin {
  /* border: 1px solid lightgray; */
}
.white-button--shadow-thick {
  box-shadow: 0px 0px 25px #dddddd;
  border-radius: 25px;
}
.pad {
  padding-bottom: 20px;
}
