<div class="container-fluid">
  <!-- <navbar></navbar> -->
  <div class="row">
    <div class="col-md-16 main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <footer></footer> -->
</div>