<div class="row signup">

    <div class="col-md-16 signup">
        <div class="row">
            <div class="col-md-16 flex-container flex-container--direction-col">
                <button class="close-button">
                    <img src="assets/Signup/Close Ico.svg" alt="">
                </button>
                <span class="header--page-signup">SIGNUP</span>
                <span class="heading heading--color-blue heading--weight-heavy">WELCOME TO CRESTA</span>
                <span class="subheading subheading--color-gray">please fill the form below</span>
            </div>


            <!-- Step 1 -->
            <div class="row" [hidden]="step!=1">
                <div class="col-md-16">
                    <margin value="150"></margin>

                </div>
                <div class="col-md-4 col-sm-16 col-md-offset-2">
                    <div class="flex-container flex-container--direction-col div--align-left">
                        <span class="heading heading--color-blue heading--size-sm">01</span>
                        <span class="heading heading--weight-heavy heading--size-md">FIRST STEP</span>
                        <span class="subheading subheading--color-gray">please fill your basic info</span>
                    </div>
                </div>

                <div class="col-md-7 col-sm-16 col-md-offset-1">

                    <form #myForm="ngForm" class="flex-container flex-container--direction-col flex-container--justify-start ">
                        <signup-input focusImg="assets/Signup/User Ico Blue.svg" blurImg="assets/Signup/User Ico Gray.svg" placeholder="co - space name"
                            type="text"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Password Ico Blue.svg" blurImg="assets/Signup/Password Ico Gray.svg" placeholder="password"
                            type="password"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Mail Ico Blue.svg" blurImg="assets/Signup/Mail Ico Gray.svg" placeholder="co - space email"
                            type="email"></signup-input>
                        <margin value="50"></margin>
                        <button (click)="next()" class="submit-btn" type="submit">NEXT</button>
                    </form>
                </div>
            </div>
            <!-- Step 1 end -->






            <!-- Step 2 -->
            <div class="row" [hidden]="step!=2">
                <div class="col-md-16">
                    <margin value="150"></margin>

                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="flex-container flex-container--direction-col div--align-left">
                        <span class="heading heading--color-blue heading--size-sm">02</span>
                        <span class="heading heading--weight-heavy heading--size-md">SECOND STEP</span>
                        <span class="subheading subheading--color-gray">please fill your basic info</span>
                    </div>
                </div>

                <div class="col-md-7 col-md-offset-1">

                    <form class="flex-container flex-container--direction-col flex-container--justify-start ">
                        <signup-input focusImg="assets/Signup/Logo Ico Blue.svg" btnFocusImg="assets/Signup/Camera ico Blue.svg" btnBlurImg="assets/Signup/Camera ico Gray.svg"
                            blurImg="assets/Signup/Logo Ico Gray.svg" placeholder="your logo" type="file"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Discreption Ico Blue.svg" blurImg="assets/Signup/Discreption Ico Gray.svg" placeholder="Description"
                            type="text"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Country Ico Blue.svg" blurImg="assets/Signup/Country Ico Gray.svg" placeholder="country"
                            type="text"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Adress Ico Gray.svg" blurImg="assets/Signup/Adress Ico Gray.svg" placeholder="address"
                            type="text"></signup-input>
                        <margin value="30"></margin>
                        <signup-input focusImg="assets/Signup/Phone Ico Gray.svg" blurImg="assets/Signup/Phone Ico Gray.svg" placeholder="phone number"
                            type="text"></signup-input>

                        <margin value="50"></margin>
                        <button (click)="next()" class="submit-btn" type="submit">NEXT</button>
                    </form>
                </div>
            </div>
            <!-- Step 2 end -->





            <!-- Step 3 -->
            <div class="row" [hidden]="step!=3">
                <div class="col-md-16">
                    <margin value="150"></margin>

                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="flex-container flex-container--direction-col div--align-left">
                        <span class="heading heading--color-blue heading--size-sm">03</span>
                        <span class="heading heading--weight-heavy heading--size-md">THIRD STEP</span>
                        <span class="subheading subheading--color-gray">please fill your basic info</span>
                    </div>
                </div>

                <div class="col-md-7 col-md-offset-1">

                    <form class="flex-container flex-container--direction-col flex-container--justify-start ">
                        <signup-input focusImg="assets/Signup/Wifi Ico Blue.svg" blurImg="assets/Signup/Wifi Ico Gray.svg" placeholder="wifi available"
                            type="switch"></signup-input>
                        <margin value="30"></margin>

                        <signup-input focusImg="assets/Signup/Drink Ico Blue.svg" blurImg="assets/Signup/Drink Ico Gray.svg" placeholder="drinks available"
                            type="switch"></signup-input>
                        <margin value="30"></margin>

                        <signup-input focusImg="assets/Signup/Credit Ico Blue.svg" blurImg="assets/Signup/Credit Ico Gray.svg" placeholder="credit card available"
                            type="switch"></signup-input>

                        <margin value="30"></margin>

                        <!-- <img class="input-field-img" [src]="srcImg" [ngClass]="{'input-field-img--state-focus':focus, 'input-field-img--state-blur':!focus}"
                            alt=""> -->

                        <signup-input focusImg="assets/Signup/Photos Ico Blue.svg" btnFocusImg="assets/Signup/Camera ico Blue.svg" btnBlurImg="assets/Signup/Camera ico Gray.svg"
                            blurImg="assets/Signup/Photos Ico Gray.svg" placeholder="photos" [type]="'file'" [multiple]="true"></signup-input>

                        <margin value="50"></margin>
                        <button (click)="next()" class="submit-btn" type="submit">FINISH</button>
                    </form>
                </div>
            </div>
            <!-- Step 3 end -->



        </div>
    </div>