.close-button {
  background-color: transparent;
  font-size: 20px;
  border: 0;
  padding-top: 30px;
}
.header--page-signup {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 15px;
  padding-top: 30px;
}
.heading--color-blue {
  color: var(--third-color, #39b0fb);
}
.heading--weight-heavy {
  font-weight: 900;
}
.heading--size-md {
  font-size: 30px;
}
.heading--size-sm {
  font-size: 20px;
}
.subheading--color-gray {
  color: lightgray;
  font-weight: 500;
}
.submit-btn {
  background-color: #39b0fb;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  outline: 0;
}
