<div [ngSwitch]="full">
  <ng-template [ngSwitchCase]="true">
    <div class="reservation">
      <div>
        <object width="20" class="booked" height="20" data="assets/Dashboard Icons/True Ico.svg" type="image/svg+xml"></object>
        <card [src]="src" boldText="VISA" lighterText="info@visa.com"></card>
        <hr>
        <card src="" [noImage]="true" boldText="Private Room" lighterText="11:30 pm - 11:45 pm"></card>

      </div>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="false">
    <div class="reservation flex-container flex-container--justify-center flex-container flex-container--align-center">

      <div class="">
        <card src="assets/Dashboard Icons/Add Ico.svg" boldText="Add Reservation" lighterText="11:30 pm - 11:45 pm"></card>
        <!-- <hr>
          <card src="" [noImage]="true" boldText="Private Room" lighterText="11:30 pm - 11:45 pm"></card> -->
      </div>
    </div>
  </ng-template>
</div>