.reservation {
  height: 175px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 20px 30px;
}
.booked {
  position: relative;
  float: right;
  top: -20px;
  right: -30px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
