<div class="row dashboard">
  <div class="col-md-16">
    <navbar></navbar>
  </div>
  <div class="col-md-16 dashboard--body">
    <margin value="60"></margin>
    <div class="row">
      <!-- sidebar start -->
      <div class="col-md-3 dashboard-sidebar">
        <div class="row">
          <div class="col-md-16">
            <margin value="25"></margin>
          </div>
        </div>

        <div class="flex-container flex-container--justify-start">
          <div class="flex-container flex-container--direction-row">
            <img src="assets/profilepic.jpg" class="navbar--profile-pic" width="40" height="40" alt="">
            <div class="navbar--links flex-container flex-container--direction-col flex-container--align-start flex-container--justify-center">
              <span class="navbar--username">
                John Smith
              </span>
            </div>
          </div>
        </div>

        <hr>

        <div class="flex-container flex-container--justify-start">
          <div class="flex-container flex-container--direction-row">
            <!-- <object width="30" class="image--marginRight-small" height="30" data="assets/Calender Ico.svg" type="image/svg+xml"></object> -->

            <img src="assets/Calender Ico.svg" class="navbar--profile-pic" alt="">
            <div class="navbar--links flex-container flex-container--direction-col flex-container--align-start flex-container--justify-center">
              <span class="navbar--username">
                2:30 PM
              </span>
              <span class="navbar--link-manage">
                Monday, November 20
              </span>
            </div>
          </div>
        </div>

        <hr>

        <div class="dashboard--sidebarlink" *ngIf="offerings['private_rooms']" (click)="type='private'">
          <img class="dashboard--sidebarlink--img" [src]="type == 'private' ? 'assets/Dashboard Icons/Private Room Ico.svg' : 'assets/Dashboard Icons/Private Room Ico Gray.svg'"
            width="20" height="20" alt="">
          <span [ngStyle]="type == 'private' ? {color: '#39b0fb'} : {}" class="dashboard--sidebarlink--link">Private Rooms</span>
        </div>

        <div class="dashboard--sidebarlink" *ngIf="offerings['single_seats']" (click)="type='single'">
          <img class="dashboard--sidebarlink--img" [src]="type == 'single' ? 'assets/Dashboard Icons/Single Set Ico Blue.svg' : 'assets/Dashboard Icons/Single Set Ico.svg'"
            width="20" alt="">
          <span [ngStyle]="type == 'single' ? {color: '#39b0fb'} : {}" class="dashboard--sidebarlink--link">Single Set</span>
        </div>

        <div class="dashboard--sidebarlink" *ngIf="offerings['group_seats']" (click)="type='group'">
          <img class="dashboard--sidebarlink--img" [src]="type == 'group' ? 'assets/Dashboard Icons/Group Set ico Blue.svg' : 'assets/Dashboard Icons/Group Set ico.svg'"
            width="20" alt="">
          <span [ngStyle]="type == 'group' ? {color: '#39b0fb'} : {}" class="dashboard--sidebarlink--link">Group Set</span>
        </div>


        <margin value="100"></margin>

        <hr>
        <span class="small-font bold">
          All Copyright 2017.Cresta
        </span>
        <margin value="1"></margin>
        <span class="small-font">
          designed and developed by seamlabs
        </span>
        <margin value="15"></margin>

        <div class="flex-container flex-container--justify-evenly-mobile flex-container--direction-row flex-container--justify-start ">
          <button class="white-button white-button--size-small white-button--marginRight-small">
            <img src="assets/Facebook.svg" width="4" alt="">
          </button>

          <button class="white-button white-button--size-small white-button--marginRight-small">
            <img src="assets/Twitter.svg" width="8" alt="">
          </button>

          <button class="white-button white-button--size-small white-button--marginRight-small">
            <img src="assets/Google +.svg" width="8" alt="">
          </button>
        </div>
        <margin value="15"></margin>

      </div>
      <!-- Sidebar end -->



      <!-- dashboard start -->

      <div class="col-md-13 col-md-offset-3" [ngSwitch]="view">
        <ng-template [ngSwitchCase]="'calendar'">
          <div class="row">
            <div class="col-md-16 dashboard--content">
              <div class="row">
                <div class="col-md-4">
                  <span class="heading heading--size-small heading--weight-bold">Bookings</span>
                </div>
                <div class="col-md-1 col-md-offset-10">
                  <div class="flex-container flex-container--justify-end">
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Blue.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Red.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Gray.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="image--marginRight-big" src="assets/Dashboard Icons/Green.svg" width="15" alt="">
                    </div>
                    <div (click)="view='reservations'">
                      <img class="image--marginRight-big" src="assets/Dashboard Icons/List ico Gray.svg" width="17" height="17" alt="">
                    </div>
                    <div class="flex-container flex-container--align-center image--marginTop-tiny">
                      <object class="" width="18" class="" height="18" data="assets/Dashboard Icons/Calender Ico.svg" type="image/svg+xml"></object>
                    </div>
                  </div>
                  <margin value="30"></margin>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-15 dashboard--content calendar-container">
              <margin value="20"></margin>
              <mwl-calendar-month-view [cellTemplate]="customCellTemplate" [viewDate]="today" [events]="[]">
              </mwl-calendar-month-view>
            </div>
          </div>
        </ng-template>



        <ng-template [ngSwitchCase]="'reservations'">
          <div class="row">
            <div class="col-md-16 dashboard--content">
              <div class="row">
                <div class="col-md-4">
                  <span class="heading heading--size-small heading--weight-bold">Today's Bookings</span>
                </div>
                <div class="col-md-5 rooms-list">
                  <button class="room-btn selected">room 1</button>
                  <button class="room-btn">room 2</button>
                </div>
                <div class="col-md-1 col-md-offset-5">
                  <div class="flex-container flex-container--justify-end">
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Blue.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Red.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="dashboard--sidebarlink--img" src="assets/Dashboard Icons/Gray.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="image--marginRight-big" src="assets/Dashboard Icons/Green.svg" width="15" alt="">
                    </div>
                    <div>
                      <img class="image--marginRight-big" src="assets/Dashboard Icons/List ico.svg" width="17" height="17" alt="">
                    </div>
                    <div (click)="view='calendar'" class="flex-container pointer flex-container--align-center image--marginTop-tiny">
                      <object class="" width="18" class="" height="18" data="assets/Dashboard Icons/Calender Ico Grey.svg" type="image/svg+xml"></object>
                    </div>
                  </div>
                  <margin value="30"></margin>
                </div>
              </div>

            </div>
          </div>


          <div class="row">
            <today-slots [events]="[]"></today-slots>

            <other-day-slots [day]="'11-11-2018'" [events]="[]"></other-day-slots>
            <other-day-slots [day]="'11-12-2018'" [events]="[]"></other-day-slots>
            <other-day-slots [day]="'11-13-2018'" [events]="[]"></other-day-slots>
            <other-day-slots [day]="'11-13-2018'" [events]="[]"></other-day-slots>
            <other-day-slots [day]="'11-13-2018'" [events]="[]"></other-day-slots>
          </div>
        </ng-template>

      </div>



      <!-- dashboard end -->
    </div>
  </div>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  {{initDayShow(day, false)}}
  <div (mouseenter)="setDayShow(day, true)" (mouseleave)="setDayShow(day, false)" class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    <!-- <margin value="40"></margin> -->
    <div class="util" *ngIf="hoveringDay(day)">
      {{getUtilizationForDay(day)}}
      <span class="utlilzation">{{utilization[day.date]}}</span>

      <waves *ngIf="hoveringDay(day)"></waves>

    </div>

  </div>

</ng-template>