.dashboard--body {
  background-color: var(--secondary-color, #fafbfc);
  height: auto;
  overflow: hidden;
}
.calendar-container {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.dashboard-sidebar {
  position: fixed;
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.dashboard--content {
  margin-left: 50px;
}
.navbar--link-dropdown {
  margin-left: 10px;
}
.navbar--profile-pic {
  border-radius: 40px;
  margin-right: 7px;
}
.navbar--link-manage {
  color: var(--gray, #dfe3ed);
  font-size: 10px;
}
.navbar--username {
  font-weight: 900;
  font-size: 12px;
  color: black;
}
.dashboard--sidebarlink {
  margin-bottom: 30px;
}
.dashboard--sidebarlink:hover {
  cursor: pointer;
}
.dashboard--sidebarlink--img {
  margin-right: 5px;
}
.dashboard--sidebarlink--link:hover {
  color: var(--third-color, #39b0fb);
}
.dashboard--sidebarlink--link {
  font-weight: 900;
  font-size: 12px;
}
.small-font {
  font-size: 9px;
}
.bold {
  font-weight: 700;
}
.white-button--size-small {
  width: 20px;
  height: 20px;
}
.util {
  position: relative;
  height: 0px;
  float: right;
  width: 150px;
  vertical-align: middle;
  text-align: center;
}
.utlilzation {
  font-weight: 700;
  color: #71a83c;
}
.image--marginRight-small {
  margin-right: 7px;
}
.image--marginRight-big {
  margin-right: 20px;
}
.image--marginTop-tiny {
  margin-top: 2px;
}
.room-btn {
  background-color: white;
  color: lightgray;
  width: 110px;
  height: 40px;
  font-size: 18px;
  border-radius: 25px;
  outline: 0;
}
.selected {
  background-color: #39b0fb;
  color: white;
}
