/* You can add global styles to this file, and also import other style files */
@import "bootstrap.min.css";
/* @import "grid.css"; */
@import "fonts.css";
@import "angular-calendar.css";
:root {
  --main-btn-color: #4d7de1;
  --secondary-btn-color: #339ddf;
  --main-btn-text-color: #fff;
  --secondary-color: #fafbfc;
  --third-color: #39b0fb;
  --gray: #dfe3ed;
}

/* debug class */
/* * {
  border: 1px solid red;
} */

.main {
  overflow: hidden;
}

.flex-container--responsive-row {
  flex-direction: row;
}
.flex-container--responsive-col {
  flex-direction: column;
}
.flex-container {
  display: flex;
}
.flex-container--direction-row {
  flex-direction: row;
  /* justify-content: center; */
}
.flex-container--margin-small {
  margin: 10px;
  /* justify-content: center; */
}
.flex-container--justify-start {
  justify-content: flex-start;
}

.div--align-left {
  text-align: left;
}

.div--align-center {
  text-align: center;
}

.flex-container--align-center {
  align-items: center;
}
.flex-container--align-start {
  align-items: flex-start;
}
.flex-container--align-end {
  align-items: flex-end;
}

.flex-container--justify-center {
  justify-content: center;
}

.flex-container--justify-around {
  justify-content: space-around;
}
.flex-container--justify-between {
  justify-content: space-between;
}
.flex-container--justify-end {
  justify-content: flex-end;
}
.flex-container--direction-col {
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.flex-container--zIndex-top * {
  z-index: 20;
}

.flex-container--move-down {
  margin-top: 100px;
}

@media only screen and (max-width: 993px) {
  .hlist {
    display: flex !important;
  }

  .flex-container--responsive-row {
    flex-direction: column;
  }
  .flex-container--responsive-col {
    flex-direction: row;
  }
}
.hlist {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hlist--item {
  margin-left: 20px;
  width: 60px;
  float: left;
  cursor: pointer;
  display: flex;
}
.heading {
  font-size: 40px;
}
.img--margin-small {
  margin-bottom: 10px;
}
.heading--size-small {
  font-size: 20px;
}
.heading--weight-bold {
  font-weight: 600;
}
.heading--size-smaller {
  font-size: 20px;
}
.contain {
}

.contain--bgcolor-secondary {
  background-color: var(--secondary-color);
}
.contain-align-center {
  text-align: center;
}

.contain-align-left {
  text-align: left;
}
.logo {
  font-size: 26px;
  font-weight: 700;
}
body {
  font-family: "Cairo";
  margin: 0;
  overflow-x: hidden;
}
.bold {
  font-family: "Cairo";
  font-weight: 700;
}
p {
  font-size: 0.875em;
}
.button {
  border-radius: 20px;
  width: 100%;
  height: 40px;
  font-size: 0.875em;
  cursor: pointer;
  background-color: var(--main-btn-color);
  color: var(--main-btn-text-color);
}

.white-button {
  width: 200px;
  height: 50px;
  font-size: 0.9em;
  cursor: pointer;
  background-color: #fffffe;
  font-weight: 700;
  border: 0;
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.021);
}

.button--move-down {
  margin-top: 7px;
}
.span--color-main {
  color: var(--main-btn-color);
}
.contain--justify-left {
  text-align: left;
}
.contain--justify-right {
  text-align: right;
}
.hlist--item-wide {
  width: 120px;
}
.hlist--item--move-down {
  margin-top: 6px;
}
.contain--move-up {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.contain--align-center {
  text-align: center;
}
.white-button--zIndex-top,
.white-button--zIndex-top * {
  z-index: 50 !important;
}

@media only screen and (max-width: 993px) {
  .img--line,
  .img--line2,
  .img--line3,
  .img--line4,
  .img--phone-1,
  .img--phone-2,
  .img--artwork,
  .contain--hide-mobile {
    display: none;
  }
  .logo > p {
    text-align: center;
  }
  .contain--hide-desktop {
    display: unset;
  }
  .contain--move-down-mobile {
    margin-top: 100px !important;
  }
  .contain--move-up {
    position: relative;
    width: auto;
    /* bottom: 10px; */
  }
  .emptyspace--space-lg,
  .emptyspace--space-medium,
  .emptyspace--space-small,
  .emptyspace--space-smaller,
  .move-down-170,
  .contain--move-down-lg,
  .contain--move-down,
  .flex-container--move-down,
  .move-down-70 {
    margin-top: 30px !important;
    margin-bottom: 30px;
  }

  .flex-container--justify-center-mobile {
    justify-content: center !important;
  }

  .flex-container--justify-evenly-mobile {
    justify-content: space-evenly !important;
  }

  .contain--justify-centerOnMobile,
  .heading--align-centerOnMobile,
  .home span,
  .home p,
  .home h2 {
    text-align: center !important;
  }
  .home h2 {
    font-size: 30px;
  }
}
.image--marginTop-small {
  margin-top: 4px;
}
