<div class="col-md-16 dashboard--content today-slots">
  <div class="row">
    <!-- <div class="col-md-4 flex-container flex-container--align-center">
      <span class="heading heading--size-small heading--weight-bold span-margin">{{day | date: 'EEEE d MMMM y'}}</span>
    </div>
    <div class="col-md-12 rooms-list">
      <button class="room-btn selected">room 1</button>
      <button class="room-btn">room 2</button>
    </div> -->
    <div class="col-md-16">
      <div class="timeline">
        <reservation src="assets/logo.png" [full]="false"></reservation>
        <reservation src="assets/logo.png" [full]="true"></reservation>
        <reservation src="assets/logo.png" [full]="true"></reservation>
        <reservation src="assets/logo.png" [full]="true"></reservation>
        <reservation src="assets/logo.png" [full]="true"></reservation>
        <!-- <timeslot state="available" range="11:15 pm - 11:30 pm"></timeslot>
        <timeslot state="available" range="11:15 pm - 11:30 pm"></timeslot>
        <timeslot state="booked" range="11:15 pm - 11:30 pm"></timeslot>
        <timeslot state="booked" range="11:15 pm - 11:30 pm"></timeslot>
        <timeslot state="available" range="11:15 pm - 11:30 pm"></timeslot>
        <timeslot state="not ready" range="11:15 pm - 11:30 pm"></timeslot> -->
      </div>
    </div>
  </div>
</div>