.dashboard--content {
  margin-left: 50px;
}
.room-btn {
  background-color: white;
  color: lightgray;
  width: 110px;
  height: 40px;
  font-size: 18px;
  border-radius: 25px;
  outline: 0;
}
.selected {
  background-color: #39b0fb;
  color: white;
}

.rooms-list {
  display: inline-block;
}
.span-margin {
  margin-top: 6px;
}
.timeline {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  /* padding-right: 15px; */
  overflow-x: scroll;
}
/* .today-slots {
  height: 170px;
} */
